* { margin: 0; padding: 0; }
body { color: #333; font: 13px/18px Tahoma, sans-serif; background: #B4B4B4; }
a { text-decoration: none; color: #0041CC; }
a:hover, a:focus { color: #00B7FF; }
a:active { color: red; }
a img { border: 0; }

#container { width: 960px; margin: 10px auto; background: #F1EDED;
	border: 1px solid #8B8B8B; position: relative; }
#container > div { /*padding: 0 12px 6px;*/ }

#logo { position: relative; top: 20px; left: 16px; }

#nav { position: absolute; top: 45px; right: 0; width: 568px; float: right; list-style: none; }
#nav > li { float: left; margin: 0 7px 0 0; }
#nav a { font-size: 14px; color: #4A4141; display: block; padding: 6px 11px; }
#nav > li > a { -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; background: #C3E6D6; }
#nav > li > a:hover, #nav > li > a:focus { background: #CB3600; color: #fff; }
#nav ul { list-style: none; padding: 10px 0 10px; position: absolute; left: -999em; width: 210px; background: #2774C6;
	-moz-border-radius: 0 3px 3px 3px; -webkit-border-radius: 0 3px 3px 3px; border-radius: 0 3px 3px 3px; }
#nav li:hover ul { left: auto; }
#nav > li:hover > a { -moz-border-radius: 6px 6px 0 0; -webkit-border-radius: 6px 6px 0 0; border-radius: 6px 6px 0 0; padding-bottom: 9px; }
#nav > li:first-child:hover > a { -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; }
#nav > li:first-child:hover > a { padding-bottom: 6px; }
#nav li:hover > a { background: #2774C6; color: #fff; }
#nav ul li {  }
#nav ul a { color: #fff; border-bottom: 1px solid #1658A9; }
#nav ul li:last-child a { border-bottom: 0; }
#nav ul a:hover,
#nav ul a:focus { background: #00A6FF; }
#nav a:active { background-color: #ff0 !important; color: #000 !important; }

#top { clear: both; margin: 0 0 4px; }
#top .crumbs { padding: 0 0 0 20px; }

#header { /*margin: 0 0 38px;*/ background: #fff; padding: 0 12px 33px; }

#main { margin: 12px 0 12px 12px; background: #fff; width: 668px; float: left; border: 1px solid #D5E3E1; }
#main > div { padding: 20px; border: 1px solid #FFF; }
#main h1 { font-size: 28px; line-height: 29px; color: #222; margin: 0 0 20px; }
#main h2 { font-size: 20px; line-height: 21px; border-bottom: 1px solid #E0E0E0; padding: 0 0 2px; }
#main h3 { font-size: 16px; line-height: 17px; }
#main h2, #main h3 { margin: 30px 0 20px; }
#main h1,
#main h2,
#main h3,
#main h4,
#main h5,
#main h6 { letter-spacing: -1px; color: #333; }
#main h2 code { font-weight: normal; color: #555; font-size: 18px; }
#main .normal { font-weight: normal; font-size: 13px; }
#main .normal em { font-style: normal; margin: 0 5px 0 10px; color: #444; }
#main .normal code { font-size: 18px; }
#main p { margin: 0 0 20px; }
#main ol, #main ul { padding: 0 0 0 30px; margin: 0 0 20px; }
#top a:hover, #top a:focus,
.updates a:hover, .updates a:focus,
#main a:hover, #main a:focus { border-bottom: 1px solid; }

#main .references { float: right; background: #EFEFEF; width: 200px;
	font-size: 11px; border: 1px solid #E3E3E3; margin: 0 0 10px 10px; }
#main .references dt { background: #E3E3E3; font-weight: bold; padding: 5px 10px; }
#main .references dd a { display: block; padding: 5px 10px; }
#main .references dd a:hover,
#main .references dd a:focus { border: 0; background: #E6E6E6; }
#main .references dd a:active { background: #ff0; color: #000; }
#main .image { background: #eee; text-align: center; padding: 15px 0; border: 1px solid #ccc; margin: 0 0 20px; }
#main .image img { max-width: 600px; border: 1px solid #ddd;}
#main .image p { margin: 10px 0 0; font-size: 12px; }

#sidebar { width: 256px; float: right; margin: 12px 12px 0 0; }
#sidebar .box { background: #e0b54d; margin: 0 0 12px; }
#sidebar .box h3 { background: #4096B3; color: #fff; font-size: 16px; line-height: 17px; padding: 14px 0 8px 17px; font-weight: normal; }
#sidebar .box .content { background: #DEEDFF; border: 7px solid #61A7BE; padding: 10px 0; }
#sidebar .box .content ul { list-style: none; }
#sidebar .box #toc ul a { font: 16px/17px 'Courier New', monospace; display: block; padding: 3px 0 3px 7px; margin: 0 7px 0 7px; }
#sidebar .box #toc ul a:hover,
#sidebar .box #toc ul a:focus { background: #00A6FF; color: #fff; }
#sidebar .box #toc ul a:active { background: #ff0; color: #000; }
#sidebar .updates { padding: 0 10px 0 14px; font-size: 11px; }
#sidebar .updates .date { font-size: 10px; }

.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.error, .caution { color: #9e0b0f; }

#language { position: absolute; top: 10px; right: 10px; font: 13px/18px Tahoma, sans-serif;line-height:normal !important;  }
select { cursor: pointer; }
#top-link { display: none; position: fixed; right: 5px; bottom: 5px; color: green; border: 1px solid #388000; background: #BDEE90; padding: 10px; }
.disclaimer { color: #da0000; }
.new { color: #ED9E03; }
.note { background: #E8F3FF; padding: 15px; margin: 0 0 20px; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; }
.note p:last-child { margin: 0 !important; }